
<div class="footer w-100 p-5">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-4 m-auto">
                <div class="d-flex flex-column text-white text-center">
                    <h3>LOCATION</h3>
                    <p >2215 John Daniel Drive</p>
                    <p class="mt-0">Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4 m-auto">
                <div class="d-flex flex-column text-white text-center">
                    <h3>AROUND THE WEB</h3>
   <div class="social d-flex justify-content-center gap-2 mt-2">
    <div class="icon d-grid border rounded-circle border-white p-3">
        <i class="fa-brands fa-facebook m-auto text-white"></i>
    </div>
    <div class="icon d-grid border rounded-circle border-white p-3">
        <i class="fa-brands fa-twitter m-auto text-white"></i>
    </div>
    <div class="icon d-grid border rounded-circle border-white p-3">
        <i class="fa-brands fa-linkedin m-auto text-white"></i>
    </div>
    <div class="icon d-grid border rounded-circle border-white p-3">
        <i class="fa-solid fa-globe m-auto text-white"></i>
    </div>
                                                                                    
   </div>
                </div>
            </div>
            <div class="col-md-4 m-auto">
                <div class="d-flex flex-column text-white text-center">
                    <h3>ABOUT FREELANCER</h3>
                    <p >Freelance is a free to use, licensed Bootstrap theme created by Route</p>
 
                </div>
            </div>
            
        </div>
    </div>
</div>
<div  class="p p-3"><p class="text-center text-white">Copyright © Your Website 2021</p></div>