
<nav class="navbar navbar-expand-lg  fixed-top py-4 ">
    <div class="container px-5">
      <a class="navbar-brand nav-title" routerLink="home">START FRAMEWORK
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse pe-5" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item px-2">
            <a class="nav-link nav-title nav-tab " aria-current="page" routerLink="about" routerLinkActive="active text-white">ABOUT</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link nav-title nav-tab" aria-current="page" routerLink="portfolio" routerLinkActive="active text-white">PORTFOLIO</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link nav-title nav-tab" aria-current="page" routerLink="contact" routerLinkActive="active text-white">CONTACT</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>