<p>contact works!</p>
<div class="portfolio  d-flex flex-column justify-content-center mt-5 position-relative">
    <div class="margintop w-100">

    </div>
   <h3 class="text-center">CONTACT SECTION</h3>
  <app-line></app-line>
<div class="container w-50 mt-3  d-flex flex-column justify-content-center align-items-center">
<div class="row mb-5 ">
    <input class="border-1 border-bottom border-top-0 border-end-0 border-start-0 p-3 my-4 "  type="text" placeholder="userName">
    <input class="border-1 border-bottom border-top-0 border-end-0 border-start-0 p-3 my-4 " type="number" placeholder="userAge">
    <input class="border-1 border-bottom border-top-0 border-end-0 border-start-0 p-3 my-4 " type="email" placeholder="userMail">
    <input class="border-1 border-bottom border-top-0 border-end-0 border-start-0 p-3 mt-4 " type="password" placeholder="userPassword">
</div>
<button class="mb-5 align-self-start p-2">Send Meassage</button>
</div>


</div>